{
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype"],
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "rules": [
    "react/jsx-filename-extension": 0
  ],
  "globals": {
    "fetch": true,
    "window": true,
    "document": true,
    "localStorage": true
  }
}
